<!-------------------------------------------------------------------
Course: SDEV 255
Date: 20 Sept 2022
Mod4- Advanced Node.js Tutorial
File: about.html
Student: Nativida Barlow
Instructor: Professor Zachary Hamby
IVY Tech Community College
------------------------------------------------------------------->z
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
    <body>

      <%- include('./partials/nav.ejs')%>

      <!--<nav>
        <div class="site-title">
            <p><%= name %></p>
            <a href="/"><h1>Blog Ninjas</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Blog</a></li>
        </ul>
      </nav>-->


      <div class="about content">
        <h2>About Us</h2>
          <p>“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
            consectetur, adipisci velit, sed quia non numquam eius modi tempora 
            incidunt ut labore et dolore magnam aliquam quaerat voluptatem.”</p>
      </div>
      <%- include('./partials/footer.ejs')%>
    </body>
    </html>
