<!-------------------------------------------------------------------
Course: SDEV 255
Date: 02 Oct 2022
Mod4- Advanced Node.js Tutorial
File: nav.ejs
Student: Nativida Barlow
Instructor: Professor Zachary Hamby
IVY Tech Community College
------------------------------------------------------------------->
<nav>
    <div class="site-title">
        <p><%= name %></p>
        <a href="/"><h1>Blog Ninjas</h1></a>
        <p>A Net Ninja Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">New Blog</a></li>
    </ul>
  </nav>